{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Users' %}</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>{% translate 'ID' %}</th>
            <th>{% translate 'Username' %}</th>
            <th>{% translate 'Full name' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
              <a href="{% url 'update' pk=user.pk %}">{% translate 'Update' %}</a>
              <br>
              <a href="{% url 'delete' pk=user.pk %}">{% translate 'Delete' %}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}