<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        {% include 'navbar.html' %}
    </header>
    <main class="container wrapper flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>