.navbar {
  background: linear-gradient(45deg, #A63CD4, #FFA500);
  color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}
